{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main class='main'>
  <section>
    <div class='form'>
      <h1 class='form__title'>Редагування товару</h1>
      <form method='POST' action='/product-edit'>
        <div class='form__content'>
          <h5>Інформація про товар</h5>
          <div class='row3col'>
            <div class='form__field'>
              <label for='name' class='form__label'>Назва
                товару:</label>
              <input
                type='text'
                name='name'
                class='form__input'
                value='{{name}}'
              />
            </div>
            <div class='form__field'>
              <label
                for='price'
                class='form__label'
              >Ціна:</label>
              <input
                type='number'
                name='price'
                class='form__input'
                value='{{price}}'
                placeholder='{{price}}'
              />
            </div>
            <div class='form__field'>
              <label
                for='id'
                class='form__label'
              >ID:</label>
              <input
                type='number'
                name='id'
                value='{{id}}'
                class='form__input'
              />
            </div>
          </div>
          <div class='form__field'>
            <label
              for='description'
              class='form__label'
            >Короткий опис товару:</label>
            <input
              type='text'
              name='description'
              id='description'
              value='{{description}}'
              class='form__input'
            />
          </div>
          <div class='row2col'>
            <button
              class='form__button'
              type='submit'
            >Зберегти оновлення</button>
            <a
              class='form__button delete_button'
              href='/product-delete?id={{id}}'
            >Видалити товар</a>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}