<div class='field {{#if disabled}} field--disabled {{/if}}'>
	<label for="{{name}}" class="field__label">{{label}}</label>
	<input type="{{#if type}}{{type}}{{/if}}" value="{{#if value}}{{value}}{{/if}}" name="{{name}}" class="field__input">

</div>