<div class='card'>
	<h4 class='card__title'> {{name}} </h4>
	<div class='card__description'>{{description}}</div>
	<div class='card__id'>ID: {{id}}</div>
	<div class='row card__row'>
		<div class='price'>{{price}} ₴ </div>
		<div class='link'><a href='/product-edit?id={{id}}'>Редагувати</a></div>
	</div>
</div>